.gradient-slider {
    -webkit-appearance: none;
    height: 6px;
    background: linear-gradient(to right, #fcbf49, #f77f00, #e25822);
    border-radius: 50px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.15s ease-in-out;
}

.gradient-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider::-moz-range-thumb {
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider::-ms-thumb {
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider:focus {
    opacity: 1;
}
