* {
    scrollbar-width: thin !important;
    scrollbar-color: #f77f00 #fbf4e8 !important;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fbf4e8;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f77f00;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #e25822;
}
